.popup-slider {
    $self: &;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    display: none;

    &__bg {
        background-color: rgba(0,0,0,.5);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__content {
        position: relative;
        left: -280px;
        width: 280px;
        height: 100%;
        background-color: #fff;
        z-index: 1;
    }

    &__header {
        padding: 16px;
        position: relative;
        height: 120px;
        color: #fff;
        display: flex;
        align-items: flex-end;
    }

    &__bg-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        filter: brightness(0.8);
    }

    &__body {
        padding: 16px;
    }

    &.opened {
        display: block;

        #{$self}__content {
            left: 0;
        }
    }

    @keyframes show {
        0% {
            width: 0;
            height: 0;
        }
        1% {
            width: 100%;
            height: 100%;
        }
        100% {
            width: 100%;
            height: 100%;
        }
    }

    @keyframes hide {
        0% {
            width: 100%;
            height: 100%;
        }
        99% {
            width: 100%;
            height: 100%;
        }
        100% {
            width: 0;
            height: 0;
        }
    }

    @keyframes move {
        0% {
            left: -280px;
        }
        100% {
            left: 0;
        }
    }
}
