@import "./app/styles/base";

.footer {
    background: #1c1c1c;
    color: #fff;

    &__container {
        @include screen-container;

        svg {
            fill: #a72e2e;
            width: 160px;
            margin-bottom: -20px;
        }
    }
}
