.header {
    background: #ac2121;
    padding: 12px 0;

    &-nav {
        max-width: 1280px;
        margin: auto;
    }
}

.menu {
    display: flex;

    li  + li {
        margin-left: 40px;
    }
}
