@import "./app/styles/base";

.header {
    background: $brandColor2;

    &__container {
        @include screen-container;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__menu {
        display: flex;
        align-items: center;

        li  + li {
            margin-left: 40px;
        }

        &-icon {
            width: 28px;
        }

        .hyper-link {
            color: #fff;
        }
    }
}
