@import "./app/styles/base";

.header {
    background: #ac2121;
    padding: 12px 0;

    &__container {
        @include screen-container;
    }
}

.menu {
    display: flex;

    li  + li {
        margin-left: 40px;
    }
}
