.checkbox {
    width: fit-content;
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    &:focus {
        outline: none;
        box-shadow: 0 0 0 2px rgba(41, 182, 246, 0.5);
    }

    &--disabled {
        pointer-events: none;
        opacity: .4;
    }

    &__value {
        position: relative;
        display: inline-flex;
        width: 20px;
        height: 20px;
        border: 1px solid #b8b8b8;

        &-icon {
            position: absolute;
            top: 3px;
            left: 3px;
        }
    }
}
